.modal.modal--description#modal-description
   .modal__inner
      .modal__top
         h2.modal__title.title Развития зрительных функций
      .modal__body
         .modal__text
            p Курс развития зрительных функций представляет собой комплекс различных упражнений, направленных на коррекцию бинокулярных нарушений. 

            p Курс наиболее эффективен для детей и подростков в возрасте от 4 до 15 лет. Программа упражнений формируется индивидуально для каждого участника после проведения исследования и выявления функций его бинокулярной системы. 

            p Программа формируется согласно результатам принятого в передовых в области оптометрии странах алгоритма тестирования и обычно включает в себя зрительные упражнения с использованием линз, призм, фильтров, окклюдеров, специализированного оборудования. В некоторых случаях используются компьютерные программы. Курс может длиться от нескольких недель до нескольких лет. 

            p Программа по развитию зрительных функций может быть рекомендована при амблиопии, страбизме (косоглазии), аккомодационных нарушениях, конвергенционных нарушениях, дивергенционных нарушениях, фузионно-вергенционных нарушениях, эксцентричной фиксации, скотоме супрессии, аномальной ретинальной корреспонденции, нарушениях чтения и письма и пр. 

            p На всем протяжении курса участник находится под чутким наблюдением и контролем специалиста. Программа разрабатывается для каждого участника индивидуально так, чтобы она соответствовала его визуальным способностям и была нацелена на коррекцию конкретного нарушения зрения. Занятия продолжительностью от 40 до 60 минут проводятся 2 раза в неделю в специализированном кабинете (в нашем центре). Помимо занятий в нашем центре участникам необходимо будет выполнять комплекс упражнений в домашних условиях в остальные дни недели. Каждый участник получает “домашнее задание” с четкими инструкциями по его выполнению. Выполнение домашнего задание является неотъемлемой частью успешного процесса коррекции бинокулярного нарушения.

.modal.modal--info#modal-info
   .modal__inner
      .modal__top
         h2.modal__title.title Подбор призматической коррекции
         p.modal__lead Призматическая составляющая очковой коррекции назначается при бинокулярных нарушениях, неврологических патологиях, пациентам, перенесшим инсульт, пациентам после травм и пр.
      .modal__body
         .modal__about.link.link--gray Основными симптомами, при которых может быть показана призматическая коррекция, являются:
         ul.list
            li.list__item Двоение (диплопия)
            li.list__item Усталость
            li.list__item Быстрая утомляемость
            li.list__item Сонливость / Нарушения сна
            li.list__item Депрессия, психические расстройства
            li.list__item По периферии объекты смещаются.
            li.list__item Ощущение смещения дорожных знаков
            li.list__item При вынужденном наклоне головы боль в шеи и плечах
            li.list__item Трудно рассчитать скорость движения своей машины и остальных участников дорожного движения
            li.list__item Трудно рассчитать расстояние до впереди едущей машины
            li.list__item Нечеткость (особенно временная)
            li.list__item Астенопия
            li.list__item Головные боли
            li.list__item Боли в области лба, висков, затылка
            li.list__item Боль при движении глазами
            li.list__item Чувство давления и тяжести головы
            li.list__item Боль в районе гайморовых пазухах, особенно при жевательных движениях
            li.list__item Частые головокружения при резком подъеме, при резком наклоне, при езде на пассажирском сиденье, особенно на заднем сидении
      .modal__bottom
         p.modal__notice.
            ***Призматическая коррекция подбирается с применением специального набора оборудования, которым располагает наш центр.

.modal.modal--medication#modal-medication
   .modal__inner
      .modal__top
         h2.modal__title.title Цветокоррекция
         p.modal__lead Цветокоррекция представляет собой индивидуальный подбор цвета фильтра очковой линзы (специальные цветные очки), которые подбираются при определенных нарушениях способности мозга обрабатывать зрительную информацию. 

         p Цветокоррекция не способствует излечению пациента, а купирует неприятные симптомы. Такое вид коррекции может быть назначен при следующих нарушениях: болезнь Паркинсона, неврологические патологии, заикание, нарушение чтения, зрительное утомление, дислексия, синдром гиперактивности и СДВГ, аутистический спектр, дефицит внимания, гипервозбудимость в зрительной коре, бинокулярные нарушения, нистагм, фотофобия, компьютерный зрительный синдром, нарушение подвижности глазных яблок, восприятие глубины и пр.
      .modal__body
         .modal__about.link.link--gray Основными симптомами, при которых может быть показана призматическая коррекция, являются:
         .modal__block
            .modal__box
               ul.list
                  li.list__item Чувствительность к свету, трудность в поиске удобного освещения
                  li.list__item Раздвоение букв (лишние буквы появляются на концах слов)
                  li.list__item Движение/вибрация текста (из стороны в сторону или вверх и вниз)
                  li.list__item Неэффективное, замедленное чтение, дефицит внимания
                  li.list__item Текст расплывается (особенно мелкий)уг букв или слов (иногда распространяются в виде аур света или радуги вокруг людей и предметов)
                  li.list__item Узоры, проявляются в виде темных шрифтов, либо как пробелы (описываются как «черви», «реки» или «водопады»)
                  li.list__item Буквы путаются
                  li.list__item Напряжение или усталость/утомляемость
                  li.list__item Буквы путаются
                  li.list__item Текст исчезают или становится темнее
                  li.list__item Текст меняет размер
                  li.list__item Сниженная концентрация внимания
                  li.list__item Движение слов вокруг слова, которое пациент читает
                  li.list__item Астенопия при зрительной нагрузки
                  li.list__item Движение слов в начале и конце строк
                  li.list__item Нарушение восприятие глубины
                  li.list__item Слова «отходят» со страницы
                  li.list__item Слова распадаются/соединяются
                  li.list__item Цветные иллюзии: цветные пятна, движущиеся по странице или полностью скрывающие слова, отвлекают внимание, а также яркие цвета вокруг букв или слов (иногда распространяются в виде аур света или радуги вокруг людей и предметов)
            .modal__box
               .modal__info
                  .modal__chapter
                     .link.link--gray.link--green Симптомы при чтении:
                     ul.list.list--green
                        li.list__item Пациент не понимает текст
                        li.list__item Пациент пропускает слова
                        li.list__item Замедление скорости чтения
                        li.list__item Потеря строки при чтении
                        li.list__item Быстрая утомляемость
                        li.list__item Возникновение головокружения и/или тошноты при чтении
                        li.list__item Боль, раздражение, утомление, резь в глазах при чтении
                  .modal__chapter
                     .link.link--gray.link--red Симптомы при письме:
                     ul.list.list--red
                        li.list__item Затруднения при списывании текста
                        li.list__item Неровный почерк
                        li.list__item Разный размер букв
                        li.list__item Пациент сбивается со строки

.modal.modal--table#modal-table
   .modal__inner
      .modal__top
         h2.modal__title.title Мягкая контактная коррекция
      .modal__body
         .modal__table.table
            .table__item
               p.table__title Подбор, выправка и разметка оправы(в день приобретении оправы в нашей салоне данная услуга предоставляется бесплатно).
               p.table__price 500 &#8381;
            .table__item
               p.table__title Установка линз в оправу(без учета стоимости очковой линзы).
               p.table__price 1 500 - 3 000 &#8381;
            .table__item
               p.table__title Обучение правилам пользования контактными линзами.
               p.table__price 1 500 &#8381;
            .table__item
               p.table__title Определение параметров очков заказчика.
               p.table__price 200 &#8381;
            .table__item
               p.table__title Замена носоупоров
               p.table__price 200 &#8381;
      .modal__bottom
         p.modal__notice
            i.
               Наши специалисты помогут вам подобрать оптические изделия, отвечающие вашим потребностям и предпочтениям.

.modal.modal--price#modal-price
   .modal__inner
      .modal__body
         .modal__block
            .modal__box
               .modal__top
                  h2.modal__title.title Стоимость
               .modal__table.table
                  .table__item
                     p.table__title Первичный приём у Ринской Натальи Вадимовны (детский, подбор коррекции, подбор призматической коррекции).
                     p.table__price 10 000 &#8381;
                  .table__item
                     p.table__title Повторный приём у Ринской Натальи Вадимовны (не позже 4 месяцев от даты предыдущего приема).
                     p.table__price 5 000 &#8381;
                  .table__item
                     p.table__title Цветотестирование (подбор цветокоррекции)
                     p.table__price 5000 &#8381;
                  .table__item
                     p.table__title Прием оптометриста
                     p.table__price 5 000 &#8381;
                  .table__item
                     p.table__title Повторный прием оптометриста
                     p.table__price 2 500 &#8381;
                  .table__item
                     p.table__title.table__title--wide Визуальная терапия (оптикорефлекторная терапия страбизма (косоглазия), амблиопии, аккомодационных нарушений, вергентационных нарушений, нарушения подвижности глазных яблок, фузионных нарушений, эксцентричной фиксации, аномальной корреспонденции, скотомы супрессии). Курс лечения рассчитан на 24 сеанса (каждый — 30-45 минут) и длится 3 месяца
                     p.table__price 75 000 &#8381;
                  .table__item
                     p.table__title Один сеанс лечения
                     p.table__price 3 500 &#8381;
            .modal__box
               .modal__top
                  h2.modal__title.title Ортокератология
               .modal__table.table
                  .table__item
                     p.table__title.table__title--wide Первичный подбор ортокератологических линзКератотопография / Биомикроскопия / Визометрия Авторефкератометрия / Выбор дизайна линз / Обучение правилам использования ОКЛ.
                     p.table__price 27 500 &#8381;
                  .table__item
                     p.table__title Повторный** подбор ортокератологических линз
                     p.table__price 20 000 &#8381;
            .modal__box
               .modal__top
                  h2.modal__title.title Мягкая контактная коррекция
               .modal__table.table
                  .table__item
                     p.table__title.table__title--wide Первичный подбор мягких контактных линз с определением рефракции (рецепт)
                     p.table__price 5 000 &#8381;
                  .table__item
                     p.table__title Первичный подбор мягких контактных линз
                     p.table__price 3 500 &#8381;
                  .table__item
                     .table__title 
                        p Повторный** подбор мягких контактных линз 
                        p 
                           b.
                              **не позднее 6-ти месяцев со дня предыдущего приёма.
                     p.table__price 2 500 &#8381;
                  
      .modal__bottom
         p.modal__notice
            i.
               Пожалуйста, свяжитесь с нами для получения подробной информации о наших услугах и ценах. 
         a.btn(href="#") Оставить заявку

.modal.modal--form#form
   .modal__inner
      form.feedback__form.form(action="#")
         .form__inner
            .form__top
               h2.form__title.title Заполните форму ниже,
               p.form__lead.text и мы свяжемся с вами, чтобы обсудить ваши вопросы относительно обучения в нашем центре.
            .form__content
               .form__main
                  .form__inputs
                     label.form__label
                        input.form__field(type="text" placeholder="Имя")
                     label.form__label
                        input.form__field(type="text" placeholder="Email")
                     label.form__label
                        input.form__field(type="text" placeholder="+7 (999) 999-99-99")
                  textarea.form__textarea(name="textarea" placeholder="Комментарий")
               .form__agree
                  label.form__agree-label
                     input(type="checkbox")
                     span.form__agree-checkbox
                     span Соглашаюсь на обработку персональных данных
               .form__bottom
                  button.form__submit.btn.btn--wide Оставить заявку

.overlay