footer.footer
   .footer__inner
      .footer__top
         .footer__left
            a.footer__logo(href="#" aria-label="На главную страницу" title="На главную страницу")
               img(src="images/elements/logo-footer.png", alt="логотип" width="178" height="55")
         .footer__medium
            nav.footer__nav
               ul.footer__nav-list
                  li
                     a(href="#") О нас
                  li
                     a(href="patients.html") Пациентам
                  li
                     a(href="#") Профессионалам
                  li
                     a(href="#") Библиотека знаний
                  li
                     a(href="#") Форум
            .footer__contacts
               .footer__contacts-feedback
                  a.footer__contacts-tel.tel(href="tel:+79670483343") +7 (967) 048 33 43
                  a.email(href="mailto:info@rinoptica.ru") info@rinoptica.ru
               .footer__contacts-socials.socials
                  ul.socials__list
                     li.socials__item
                        a.socials__btn(href="#" aria-label="телеграм")
                           i.icon.icon-telegram
                     li.socials__item
                        a.socials__btn(href="#" aria-label="инстаграм")
                           i.icon.icon-insta
                     li.socials__item
                        a.socials__btn(href="#" aria-label="вконтакте")
                           i.icon.icon-vk
         .footer__right
            .footer__info
               p.footer__info-title ООО «РИНОПТИКА»
               p.footer__info-company Центр коррекции зрения Натальи Ринской
            .footer__data.data
               ul.data__list
                  li.data__item
                     p.data__title Медицинская лицензия:
                     .data__info
                        p № Л041-01137-77/00338526
                        p от 16 января 2020 года
                  li.data__item
                     p.data__title ИНН/КПП:
                     .data__info 
                        p 7734434854/773401001
                  li.data__item
                     p.data__title Р/с:
                     .data__info 
                        p 40702810301990003361 
                        p в АО «АЛЬФА-БАНК», г. Москва
                  li.data__item
                     p.data__title БИК:
                     .data__info
                        p 044525593
                  li.data__item
                     p.data__title Корр. счет:
                     .data__info 
                        p 1230845250000999 
                        p 123308, г. Москва, 
                        p ул. Мнёвники, д. 7, корп. 2, пом. 62
      .footer__bottom
         p.footer__copy © Центр коррекции зрения Натальи Ринской 
         ul.footer__docs
            li
               a(href="#") Политика конфиденциальности
            li
               a(href="#") Договор оферты