header.header.header--index
   .header__inner.header__inner--fon
      .header__menu.menu
         a.btn-circle.menu__burger(href="#menu" aria-label="открыть меню" data-fancybox)
            i.icon.icon-burger
         nav.menu__nav#menu
            ul.menu__list
               li.menu__item
                  a.menu__link.btn.btn--light(href="patients.html") Пациентам
               li.menu__item
                  a.menu__link.btn.btn--light(href="study.html") Обучение
               li.menu__item
                  a.menu__link.btn.btn--light(href="index.html") Контакты
         .menu__manage
            a.btn.menu__manage-btn(href="#form" data-fancybox) Оставить заявку
      section.header__hero.hero
         .hero__inner
            .hero__top
               h1.hero__title
                  span.hero__title-pic Центр #[br] коррекции зрения #[img.hero__title-logo.animation(src="images/elements/logo.png", alt="логотип" width="95" height="88")]
                  span.hero__title-colour.hero__title-right Натальи Ринской
            p.hero__cite.animation «Изменяя мир, начни с того, #[br] чтобы увидеть его чётко!»
            .hero__bottom
               p.hero__bottom-text.
                  Первая клиника современной оптометрии, в которой вы сможете решить #[a(href="#") безоперационно] проблемы, связанные с двоением, косоглазием, амблиопией, аккомодационными нарушениями, эксцентричной фиксацией и другими бинокулярными нарушениями
               .hero__bottom-content
                  img.hero__bottom-img.animation(src="images/elements/empty.gif" data-src="images/header/glasses.png", data-lazyload, alt="очки" width="568" height="317")