.menu
   display: flex
   align-items: center
   &__burger
      width: 55px
      min-width: 55px
      height: 55px
      margin-right: 8px
      color: var(--primary)
   &__list
      display: flex
      align-items: center
      border: 1px solid #fff
      border-radius: 100px
      overflow: hidden
   &__item
      &:not(:first-child):not(:last-child)
         .btn
            border-radius: 0
      &:first-child
         .btn
            padding: 17px 14px 17px 24px
            border-top-right-radius: 0
            border-bottom-right-radius: 0
      &:last-child
         .btn
            padding: 17px 24px 17px 14px
            border-top-left-radius: 0
            border-bottom-left-radius: 0
   &__link
      min-height: 55px
      padding: 17px 12px
      color: var(--primary)
      font-size: 12px
      background: rgba(255, 255, 255, 0.60)
      display: inline-flex
      justify-content: center
      align-items: center
   &__manage
      margin-left: auto
      &-btn
         font-size: 14px

   @media screen and (max-width: $width_xs)
      &__nav
         display: none
         border-radius: var(--radius)

   @media screen and (max-width: $width_mob)
      &__burger
         width: 53px
         min-width: 53px
         height: 53px
      &__manage
         &-btn
            font-size: 12px

@media screen and (max-width: $width_xs)
   #menu
      &.menu__nav
         width: calc(100% - 32px)
         max-width: 300px
         padding: 48px 30px
      .menu
         &__list
            flex-direction: column
            align-items: stretch
         &__item
            text-align: center
         &__link
            width: 100%
            padding: 20px
            border-radius: 0
            text-align: center